.allbody{
  width: 100%!important;
  display: inline-flex;
  margin: 5px !important;
  flex-wrap: wrap;
}

img{
  border-radius: 20px;
  width: 400px;
  display: inline-flex;
  padding: 5px;
}

.box{
  width: 400px !important;
}
@media (min-width: 1200px){
  .container {
    width: 400px!important;

  }
}

