
html.profile button{
    font-size: 13px;
    font-family: "Fira Code Light", serif;
}WidgetLoader{
    font-size: 13px;
     font-family: "Fira Code Light", serif;
}Widget{
    font-size: 13px;
      font-family: "Fira Code Light", serif;
}
.profile @media (prefers-color-scheme: dark) {

    html .profile{
        background-color: black;
        color: white;
        filter: invert(1) hue-rotate(.5turn);
    }

    img {
        filter: invert(1) hue-rotate(.5turn);
    }

    img:not(:hover) {
        opacity: .7;
        transition: opacity .25s ease-in-out;
    }
}
